.todo-list {
    text-align: center;
    .title {
        margin: 1rem 0 2rem 0;
    }
    .todo:nth-child(2n + 1) {
        background-color: #edf;
    }
    .sort {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        h3 {
            flex-basis: 100%;
        }
        label {
            flex-basis: 55%;
            &:first-of-type {
                flex-basis: 45%;
            }
        }
    }

}

.todo {
    padding: 1rem 2rem;
    background-color: #eff;
    &__item {
        display: inline-block;
        padding-right: 1rem;
        justify-content: center;
        font-size: 1.1em;
        font-weight: 600;
    }
    &__task {
        font-size: 1.1em;
        margin: 0.5rem 0;
    }
    &__task-input {
        width: 100%;
        display: inline-block;
        box-sizing: border-box;
        height: 2em;
        padding: 0.2em 0.5em;
        margin: 0.5rem 0;
    }
    &:not(:first-of-type) {
        margin-top: 1rem;
    }
    
}

.select {
    display: inline-block;
    margin: 0.5rem 1rem 1.5rem;
}

.info {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    .loader {
        max-width: 5rem;
    }
}

.pagination {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
    li {          
        a {
            display: inline-block;
            padding: 0.5em;
            margin: 0 0.3rem;
            line-height: 1em;
            cursor: pointer;
            background-color: #ddd;
            &:focus {
                outline: none;
            }   
        }
        &.active a{
            background-color: #00d0ff;
        }        
    }

}