.container {
    display: flex;
    justify-content: center;
    height: 100%;
    background-color: #eef;
}

.page {
    width: 900px;
    max-width: 100%;
    background-color: #fff;
    height: 100%;
    padding: 5rem 3rem;
    position: relative;
}

.title {
    margin: 0;
    text-align: center;
}

.main-form {
    display: flex;
    width: 100%;
    max-width: 400px;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 2.5rem auto;
    input {
        &:last-of-type {
            margin-bottom: 1.5rem;
        }
    }
    .wrapper {
        position: relative;
        width: 100%;
        text-align: center;
        .error {
            position: absolute;
            bottom: 0.3rem;
            left: 50%;
            color: red;
            transform: translateX(-50%);
            width: 100%;
        }

    }    
    button {
        font-size: 0.8em;
        margin-top: 0.5rem;
        text-transform: uppercase;
        padding: 0.5rem 1rem;
        cursor: pointer;
    }   
}

input {
    display: inline-block;
    width: 100%;
    padding: 0.3em 0.5em;
    margin-bottom: 1rem;
    font-size: 1em;
    border-radius: 3px;
    &[type=checkbox] {
        width: auto;
    }
}