.link-container {
    position: absolute;
    top: 1rem;
    right: 3rem;
    display: inline-block;
    a {
        text-decoration: none;
        color: #000;
    }
    button {
        padding: 0.3rem 0.7rem;
    }
}